
kaggle_competition/Tabular Playground Series - Apr 2022/tabular-playground-series-apr-2022/test.csv
kaggle_competition/Tabular Playground Series - Apr 2022/tabular-playground-series-apr-2022/sample_submission.csv
kaggle_competition/Tabular Playground Series - Apr 2022/tabular-playground-series-apr-2022/train.csv
kaggle_competition/Tabular Playground Series - Apr 2022/tabular-playground-series-apr-2022/train_labels.csv
